:root {
  width: 100%;
  height: 100%;
  font-family: Archivo;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  min-width: 750px;
}
:root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}
#root {
  width: 100%;
  height: 100%;
}

/* #root *,
#root *:before,
#root *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    font-family: Archivo;
} */